# App
APP_PORT=8000

# Postgres
POSTGRES_DB=qcdb
POSTGRES_USER=qc
POSTGRES_PASSWORD=qc_pw
POSTGRES_PORT=5432

HLS_ROOT=./hls
CAMERA_RTSP_USERNAME=user
CAMERA_RTSP_PASSWORD=password
CAMERA_RTSP_PATH=/cam/realmonitor?subtype=0&channel=
HLS_PUBLIC_BASE=http://localhost:8000/hls


# SQLAlchemy/Alembic URL (psycopg2)
DATABASE_URL=postgresql+psycopg2://qc:qc_pw@db:5432/qcdb